extends entry

block entrytext
  p Dear Authority, 
  p The Order is an imagined state. To fully be a part of it, you need an imagined identity to play within this world. 
  p Upload a selfie here to generate your own totally unique character, complete with an Authority-level ID card and backstory, for you to embody throughout the event. 
  p Please only generate one ID per ticket - refreshing the page will store your ID apart from image.
