doctype html
html
  head
    title="The Order"
    link(rel='icon' href='/images/favicon.ico')
    link(rel='stylesheet', href='/css/normalize.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Syne%20Mono')
    link(rel='stylesheet', href='/css/style.css')
    block scripts
  body
    block basecontent
