doctype html
html
  head
    title="The Order"
    link(rel='stylesheet', href='/css/normalize.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Source%20Sans%20Pro')
    link(rel='stylesheet', href='/css/style.css')
    block scripts
  body
    div(class="wrapper")
      div(class="main")
        img(src='/images/logo.png', class="logo")
        block content
